
 h2 {
    font-family:Verdana; font-size:14px; font-weight:bold; color:#3366e0; 
    margin: 2px 0px 3px 3px; padding:0px;
    float: left;
 }
 h3 {
    font-family:Verdana; font-size:12px; font-weight:bold; color:#3366e0; 
    margin: 5px 0px 3px 3px; padding:0px;
 }
 td {margin: 0px; padding: 0px}

 .thin {font-family:Times New Roman; font-size:1; margin:0; padding:0}
 p {
    font-family:Verdana; font-size:11px; color:#4880e0; font-weight: normal; padding: 0px;
 }
 P.gras {font-weight:bold; margin: 3px 0px 0px 0px}
 p.lib {
    font-size: 10px; color: #05c;
    float: left;
    line-height: 18px; height: 19px;
    border: 1px solid #EED090; 
    margin: 1px 1px 2px 2px;
 }
 p.sfx {
    font-size: 10px; color: #000;
    float: left;
    line-height: 18px;
    border: 1px solid #EED090;
    margin: 1px 7px 2px 0px;
 }
 p.val {
    font-size: 10px; color: #000;
    float: left;
    height: 19px; line-height: 20px;
    margin: 1px 10px 2px 0px; 
 }
 p.valf {
    font-size: 10px; color: #000;
    float: left;
    height: 19px; line-height: 18px;
    margin: 1px 0px 2px 0px;
 }
 p.chapitre {
    font-size: 11px; color: #600; font-weight: bold; 
    border: 1px solid #EED090; /*EED090*/
    clear:both;
    height: 20px; line-height: 22px;
    margin: 0px 0px 0px 5px;
 }
 .right {
    float: right; padding-right: 4px;
 }
 .retour {
    clear: both; margin: 0px; padding:0px
 }
 div#container {
    position:absolute; left:1px; 
    BACKGROUND-COLOR:#EED090; 
    border:#0F28A8 solid 1px;
    text-align: center;
    margin: 0px;
 }
 div#contenu {
    text-align: left;
    margin: 0px 0px 2px 0px; 
 }
 div#actions {
    margin: 8px auto 0px auto; padding-top: 5px;
    border-style: solid;
    border-color: #008;
    border-width: 1px 0px 0px 0px;
    text-align: center;
    width: 400px;
 }
 form {margin: 0px; padding: 0px; }
 input {
    color:#000000; 
    font-size:9px; font-family:Verdana; 
    border: 1px solid #000;
    margin: 1px 0px 0px 0px; 
    padding: 1px 1px 1px 1px;
 }
 input.radio {
    BACKGROUND-COLOR:#EED090; 
    border-width:0px;
    margin: 1px 0px 0px 0px;
 } 
 input.bouton {BACKGROUND-COLOR:#807c78; color:white; border: 1px solid #ffffff; HEIGHT:18px; WIDTH:80px; font-size:10px; font-weight:bold;  cursor: pointer }
 input.action {BACKGROUND-COLOR:#807c78; color:white; border: 1px solid #ffffff; HEIGHT:18px; WIDTH:95px; font-size:10px; font-weight:bold;  cursor: pointer}
 input.protec {BACKGROUND-COLOR:#d8e0f0; color:#666; font-weight:bold }
 select {
    BACKGROUND-COLOR:#f0d8a0; 
    height:18px; width:120px; 
    font-size:11px; font-family:tahoma; 
    border: 2px solid #69a;
    margin: 0px 10px 1px 2px;
 }

 a {font-family:Verdana; font-size:8pt; font-weight:bold; color:#000000;text-decoration:none}
 a:hover {font-family:Verdana; font-size:9pt; color:#ffffff;text-decoration:none}