/* feuille de styles fiche Var */
 FORM {
    margin: 0px;
    padding: 0px;
    border: 0px solid green;
 }
 HR {color: #006699; clear:both; margin:0px; padding:0px}

#dform {font-size:12px; color:#00A0E8; font-weight:normal; border: 0px solid #b00;}
#dform p {font-family:Verdana; ; padding: 1px 1px 1px 1px; }
#entete {margin: 0px; color:#006699; font-family: Verdana; background-color:#f0b033; height: 35px;}
#entete H2 {margin: 1px 0px 1px 0px; padding: 0; color: #00A0E8; font-family: Verdana; font-size: 16px; }
#entete p {margin: 1px 0px 1px 0px; padding: 0; color: #06a; font-family: Verdana; font-size: 14px; font-weight:normal; }
#entete p span {margin: 1px 0px 1px 0px; padding: 0; color: #000; font-family: Verdana; font-size: 14px; font-weight:bold}
#entete .droite {float: right; text-align: right; width: 260px; display: block; margin-right: 2px;}
#entete .gauche {float: left; text-align: left; width: 265px; display: block;}
#motif {position: absolute; top:105px; right: 5px; width:280px; height: 21px; display: none}
#motif input {
    height: 18px; font-size: 10px; 
    background-color: #003366; color: #fff; border: 1px solid #000;
    padding-left: 2px; padding-top:2px;
    margin: 0px 0px 2px 1px;
}
.para2 {
    height: 1px; width:100%; 
    margin: 0px;
    padding: 0px;
    clear: both; 
}
.para1 {
    margin: 0px 0px 0px 3px; padding: 0px; clear: both; 
    text-align: left; border: 1px solid #F8E088; height:24px
}
.para1 p {
    color: #0099e8; font-size: 12px; font-style: italic; 
    margin: 5px 0px 0px 0px; padding: 0px;
}
.box {
    float:left;
    text-align:center;
    color:black;
    border: 1px solid #aaa;
    margin-top: 2px; margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 7px;
}
.tab {
    font-family: tahoma; font-size: 10px;
    text-align: center;
    border-collapse: collapse;
    border-color: #36f;
    margin: 0px;
    padding: 0px 2px 0px 1px;
}
.tab p {
    padding: 1px 1px 1px 5px;
    margin-bottom: 0; margin-left: 1px;
    text-align: left; font-size: 10px; font-style:italic; color: #04b; 
}
.tab input {
    height: 18px; font-size: 10px; 
    background-color: #003366; color: #fff; border: 1px solid #000;
    padding-left: 2px; padding-top:2px;
    margin: 0px 0px 2px 1px;
}
/*ajout */

.box1 {
    float:right;
    text-align:center;
    color:black;
    border: 1px solid #aaa;
    margin-top: 2px; margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 7px;
}

.tab1 {
    font-family: tahoma; font-size: 10px;
    text-align: center;
    border-collapse: collapse;
    border-color: #000080;
    margin: 0px;
    padding: 0px 2px 0px 1px;
}
.box1 p {
    padding: 1px 1px 1px 5px;
    margin-bottom: 0; margin-left: 1px;
    text-align: center; font-size: 10px; font-style:italic; color: #000080; 
}
 
/*fin ajout*/
.tab input.chkbox {
    
    background-color: #F8E088; color: #fff; border: 0px solid #F8E088;
    padding-left: 2px; padding-top:2px;
    margin: 0px 0px 2px 1px;
}
.tab select {
    height: 16px; font-size: 10px; 
    background-color: #003366; color: #fff; 
    padding-left: 2px; padding-top:1px;
    margin: 0px 3px 1px 1px;
    border: 0px;
}
 .bleu {color: #36a}
 .gras {font-weight:bold; background-color: #bcf; clear:left; padding-top: 5px; padding-bottom: 1px;}
 .noirN {font-family:Tahoma; color:#000; font-weight:normal; font-size:10px; font-style:normal;
    margin-right: 10px;}
 a.bt {background-color: #008; color: #fff; padding: 0px 1px}